[submodule "_deploy/porto"]
	path = _deploy/porto
	url = ../porto
[submodule "_deploy/portoshim"]
	path = _deploy/portoshim
	url = ../portoshim
[submodule "_deploy/yt-k8s-operator"]
	path = _deploy/yt-k8s-operator
	url = ../yt-k8s-operator
	branch = feat/layer-location
[submodule "_deploy/minikube"]
	path = _deploy/minikube
	url = ../minikube
